:root {
    --hintergrundfarbe1 : aliceblue;
    --hintergrundfarbe2 : #171a1c;
    --textfarbe : black;
    --schriftart : 'Josefin Sans', sans-serif;
    --border-radius : 100%;
    --bilder-breite : 2.5rem;
    --bilder-hoehe : 100%;
    --nav-farbe : #ffffff;
    --nav-text-farbe : rgba(144, 216, 136, 0.72);
    --padding : 8%;
    --h1-farbe : #a0cf8b;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--schriftart);
    font-size: 16px;
    color: var(--nav-farbe);
}
.video-container {
    position: fixed; /* Video bleibt an Ort und Stelle */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Video wird hinter den Inhalt gesetzt */
    opacity: 0.7 /* Überflüssige Teile des Videos werden abgeschnitten */
}

/*Header*/
h1{
    margin: 1.7rem 0;
    color: var(--h1-farbe);
    font-size: 4.65rem;
    /*align-self: center;*/
}
.header #menuicon{
    display: none;
}
.header .head{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor:pointer;
    padding-top: 2.8rem;
    padding-left: 2.8rem;
    transition: text-decoration 0.3s ease-in;
    transition: 0.4s;
    position: absolute;
}
.header .head:hover{
    text-decoration:underline ;
    text-decoration-color: var(--h1-farbe);
}
h3{
    font-size: 1.5rem;
}

span{
    color: var(--h1-farbe);
}

.logo{
    color: white;
}


/*#header .logo {*/

/*    border: 0;*/
/*    display: inline-block;*/
/*    font-size: 0.8em;*/
/*    height: inherit;*/
/*    line-height: inherit;*/
/*    padding: 0 1.5em;*/

/*}*/

/*Menu WITHOUT SEARCH*/

.menu .fa{
    display: none;
}

.menu{
    display: flex ;
    flex-direction: row;
    justify-items: center;
    padding-top: 2.8rem;
    padding-left: 45rem;
    padding-right: var(--padding);



}

.menu .navlist  .navelem, .search {
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
.menu .navlist .navelem a{
    text-decoration: none;
    color: var(--nav-farbe);
    text-transform: capitalize;
    cursor: pointer;
}
.menu .navlist .navelem  a::after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--nav-text-farbe);
    display: block;
    margin: auto;
    transition: 0.4s;
}
.menu .navlist .navelem a:hover::after{
    width: 100%;
}
/*SEARCH left*/
.menu .navlist .searchbox{
    width: 200px;
    height: 40px;
    background: transparent;
    border: 4px solid #F57847;
    margin-top: 0.1rem;
    color: white;
    border-right: none;
    float : left;
    padding:10px ;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
::placeholder{
    color: white;
    font-family: var(--schriftart);
    opacity: 0.5;
}

/*searchlogo on the right*/
.menu .navlist .search .searchlogo {
    height: 40px;
    width: 50px;
    background: #F57847;
    border: 4px solid #F57847;
    margin-top: 0.1rem;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.menu .navlist .search span{ /*hier musste ich der span farbe ändern und nicht der button */
    color: white;
}

.searchlogo:focus{
    outline: none;
}
.searchbox:focus{
    outline: none;
}
.material-symbols-outlined {
    font-size: 24px;
    color: #000;
    vertical-align: middle;
}
.homescreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100vw;
    text-align: center;
    padding: 0 var(--padding);
    position: relative;
    justify-content: space-around;
    margin-top: 5rem;


}
.homescreen .homehead{
    color: white;
    font-size: 50px;
    height: 1px;

}
.homescreen img{
    width: 450px;
    height: 300px;
}
.homescreen p{
    line-height: 3rem;
}
.homescreen a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 2px solid #FF3F3F;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.4s;
    background-color: #FF3F3F;
    cursor: pointer;
}
.homescreen a:hover{
    background-color: transparent;
    color: black;

}





.aboutme{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size:cover;
    position: relative;
}


/*Content*/
.content{
    flex-grow: 1;
    padding:  var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12rem;




}
.content .container-texts{
    /*position: static;*/
    /*bottom: 70px;*/
    line-height: 2rem;
    width: 600px;

   /*padding-bottom: 47rem;*/

}



/*Exampeles*/
.content .container2-texts{
    width: 600px;
    line-height: 2rem;

}
.content .container2-texts .examples{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    padding-left: 2rem;
    list-style: none;
    flex-wrap: wrap;


}

.content .container2-texts .examples a{
    text-decoration: none;
    color: inherit; /*farbe der eltern klasse nehmen*/
}
.content .container2-texts .examples a:hover{
    color: var(--nav-text-farbe);
    text-decoration: underline;
    transition: 0.4s;
}
.content .contentfooter{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 4rem ;
    /*bild als hintergrund bild*/
    background-image: url("fotos/img/foto1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2rem;

}
.content p {
    display: block;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    transition: 0.4s;
    background-color: rgba(0,0,0,0.5);

}
.content img{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    border: transparent;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    /*das bild soll in der mitte von den div sein*/
    display: block;
    margin: 0 auto;

}


/*Socialmedia Logos*/
.socialmedialogos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;

}

.socialmedialogos .social{
    display: flex;
    flex-flow: column;
    padding-top: 3rem;
}

.socialmedialogos .social img{
    display:flex;
    margin-left: 0.5rem;
    border-radius: var(--border-radius);
    position: sticky;
    width: var(--bilder-breite);
    height: var(--bilder-hoehe);
}

p{
    margin-top: 3rem;
    padding-left: 10.5rem;
    padding-right: 10.5rem;
    text-align: center;
    font-size: 1.5rem;
    box-sizing:border-box;
}


/*.tester{*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*    !*flex-wrap: nowrap;*!*/

/*    !*align-items: center;*!*/
/*    color: black;*/
/*    transform: translateX(-50%);*/
/*    position: absolute;*/
/*    top: 90%;*/

/*    left: 50%;*/

/*}*/
.socialmediaLogos::before {
    content: "Hier ist der Text oben"; /* Der gewünschte Text */
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; /* Abstand zwischen Text und Icons */
}
/*TODO .tester ( der Text innerhalb den Icons zeigen )*/

footer p{
    font-size: 16px;
}

@media (max-width: 700px) {
    .menu  {
        position: fixed;
        right: 0;
        top :0;
        padding-left: 0;
        width: 250px;
        height: 100vh;
        background-color: black;
        z-index: 2;
        opacity: 0.9;
        padding-bottom: 10.8rem;
        transition: 1s;
    }
    .menu #closeicon {
        position: inherit;
        display: block;
        color: white;
        margin: 5px;
        font-size: 1.5rem;
        cursor: pointer;
        padding-top: 0.3rem;
        padding-left: 12rem;


    }

    .menu .navlist{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 3.8rem;
    }
    .menu .navlist .search{
        display: none;
    }
    .menu .navlist .navelem{
        margin: 1rem;
        font-size:25px;
        font-weight: bold;
    }
   .content  {
       flex-direction: column;
        padding-left: 1rem;
       padding-top: 3.8rem;
       position: relative;
       margin: 0.8rem;
   }
    .content .container-texts{
        position: relative;
        bottom: 0;
    }
    .content .examples{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        list-style: none;
    }


    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .header .head {
       order: 1;
        position: relative;
    }
    .header #menuicon{
        display: block;
        padding-top: 3.4rem;
        padding-right: 1.8rem;
        order: 2;
        font-size: 1.5rem;
    }
    .footer{
        display: block;
    }


    }