.first1{
    display: block;
    border: solid thin black;
    border-radius: 15px 15px 0 0;
    background-color: #b3d4fc;
    outline: 50px;
    outline-offset: 50px;
    margin: 50px;

}
body{
    padding: 30px;
    display-inside: ruby;
}

